<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>{{ title }}</h1>
      <form (submit)="onSubmitCoordinates()">
        <input type="number" [(ngModel)]="lat" placeholder="Enter latitude" name="lat" required>
        <input type="number" [(ngModel)]="lon" placeholder="Enter longitude" name="lon" required>
        <button type="submit">Get Weather by Coordinates</button>
      </form>
      <div *ngIf="weatherData">
        <h2>Weather in {{ weatherData.timezone }}</h2>
        <p>Temperature: {{ weatherData.current?.temp }}°C</p>
        <p>Feels Like: {{ weatherData.current?.feels_like }}°C</p>
        <p>Min Temperature: {{ weatherData.daily?.[0]?.temp?.min }}°C</p>
        <p>Max Temperature: {{ weatherData.daily?.[0]?.temp?.max }}°C</p>
        <p>Pressure: {{ weatherData.current?.pressure }} hPa</p>
        <p>Humidity: {{ weatherData.current?.humidity }}%</p>
        <p>Weather: {{ weatherData.current?.weather?.[0]?.description }}</p>
        <p>Wind Speed: {{ weatherData.current?.wind_speed }} m/s</p>
        <p>Cloudiness: {{ weatherData.current?.clouds }}%</p>
        <p>Visibility: {{ weatherData.current?.visibility }} meters</p>
        <p>Rain (last hour): {{ weatherData.current?.rain?.['1h'] || 'No data' }} mm</p>
      </div>
    </div>
  </div>
</main>